<div class="container-fluid">
    <div class="main-page" style="margin-bottom:120px;">
        <div class="row">
            <div class="col-md-12">
                <div class="home-logo" style="">
                    <img src="image/gift.svg" alt="Welcome to Mail App" />
                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="row well">
            <div class="col-md-12">
                <h4>Successfully made an order to Amazon</h4>
                <h5>Thank you for ordering from us</h5>
                <div>
                    <p>Your order number is #<span id="receipt-number">#121321312</span><br /> You will receive an order confirmation email with details of your order
                        and a link to track its progress</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right">
                        <button class="btn waves-effect waves-light pull-right" type="button" name="action" id="restart-button">Find another recommendation
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>