<div class="container-fluid">
    <div class="main-page" style="margin-bottom:120px;">
        <div class="row">
            <div class="col-md-12">
                <div class="home-logo" style="">
                    <img src="image/gift.svg" alt="Welcome to Mail App" />
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        <div class="row">
            <div class="col-md-8">
                <h4>Place an Order</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <div class="row">
                    <h5>Your Gifts</h5>
                    <div class="row recipient" id="recipient0">
                        <p>Recipient 1</p>
                        <div class="col-md-4">
                            <img class="img-thumbnail img-responsive product-img" height="200px" width="200px" src="https://images-na.ssl-images-amazon.com/images/I/510y4G3dfuL.jpg">
                        </div>
                        <div class="col-md-3">
                            <p class="product-title">Product Description</p>
                        </div>
                        <div class="col-md-3">
                            <span class="product-price">Price</span>
                        </div>
                    </div>
                    <div class="row recipient" id="recipient1">
                        <p>Recipient 2</p>
                        <div class="col-md-4">
                            <img class="img-thumbnail img-responsive product-img" height="200px" width="200px" src="https://images-na.ssl-images-amazon.com/images/I/510y4G3dfuL.jpg">
                        </div>
                        <div class="col-md-3">
                            <p class="product-title">Product Description</p>
                        </div>
                        <div class="col-md-3">
                            <span class="product-price">Price</span>
                        </div>
                    </div>
                    <div class="row recipient" id="recipient2">
                        <p>Recipient 3</p>
                        <div class="col-md-4">
                            <img class="img-thumbnail img-responsive" height="200px" width="200px" src="https://images-na.ssl-images-amazon.com/images/I/510y4G3dfuL.jpg">
                        </div>
                        <div class="col-md-3">
                            <p class="product-title">Product Description</p>
                        </div>
                        <div class="col-md-3">
                            <span class="product-price">Price</span>
                        </div>
                    </div>
                    <div class="row recipient" id="recipient3">
                        <p>Recipient 3</p>
                        <div class="col-md-4">
                            <img class="img-thumbnail img-responsive product-img" height="200px" width="200px" src="https://images-na.ssl-images-amazon.com/images/I/510y4G3dfuL.jpg">
                        </div>
                        <div class="col-md-3">
                            <p class="product-title">Product Description</p>
                        </div>
                        <div class="col-md-3">
                            <span class="product-price">Price</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <span class="pull-right">Total: $<span id="total-span">$xxxx</span> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 well">
                <div class="row">
                    <form class="col s12">
                        <h5>Address</h5>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Last Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s4">
                                <input id="address" type="text" class="validate">
                                <label for="address">Address</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="suburb" type="text" class="validate">
                                <label for="suburb">Suburb</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="state" type="text" class="validate">
                                <label for="state">State</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="postcode" type="text" class="validate">
                                <label for="postcode">Postcode</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="row">
                    <form class="col s12">
                        <h5>Payment Details</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-field col s8">
                                    <input id="cc_number" type="text" class="validate">
                                    <label for="cc_number">Credit Card Number</label>
                                </div>
                                <div class="col s4">
                                    <i class="fa fa-lg fa-cc-visa"></i>
                                    <i class="fa fa-lg fa-cc-mastercard"></i>
                                    <i class="fa fa-lg fa-cc-amex"></i>
                                </div>
                                <div class="input-field col s6">
                                    <input id="exp_month" type="text" class="validate">
                                    <label for="exp_month">Expired (MM/YY)</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="cvv_num" type="text" class="validate">
                                    <label for="cvv_num">CVV</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn waves-effect waves-light" type="button" name="action" id="cancel-button">Cancel
                                
                            </button>
                            <button class="btn waves-effect waves-light pull-right" type="button" name="action" id="submit-order-button">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>