<div class="container-fluid">
  {{#if messages.success}}
    <div role="alert" class="alert alert-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div role="alert" class="alert alert-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div role="alert" class="alert alert-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class="main-page">
    <div class="row">
      <div class="col-md-12">
        <div class="home-logo" style="">
            <img src="image/gift.svg" alt="Welcome to Mail App" />
          </div>
      </div>
    </div>
  </div>
  <div class="login">
        <div class="login-screen">
          
          <div class="login-form">
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Age" id="login-name" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control login-field" value="" placeholder="Gender" id="login-pass" />
            </div>
            <a class="btn btn-primary btn-lg btn-block" href="#">Surprise Me</a>
          </div>
        </div>
      </div>
</div>
