@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:100,300,600,700,800");

/* Scaffolding
/* ------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1abc9c;
  margin-bottom: 44px;
  line-height: 1.57142857;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

a {
  color: #1d7cf4;
}

a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  width: 100%;
  height: 44px;
  padding: 10px 30px;
  bottom: 0;
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
}

.login-container {
  max-width: 555px;
}

/* Alerts
/* ------------------------- */

.alert {
  border-width: 0 0 0 3px;
}

.alert-info {
  border-color: #31708f;
}

.alert-success {
  color: #fff;
  background-color: #29b35b;
  border-color: #1d8141;
}

.alert-danger {
  color: #b61b17;
  background-color: #ffcdd2;
  border-color: #b61b17;
}

/* Navbar
/* ------------------------- */

.navbar-default {
  background-color: #fff;
  border-color: #e0e0e0;
}

.navbar-default .navbar-nav {
  color: #757575;
}

.navbar-default .navbar-nav > li > a {
  color: #262626;
  border-bottom: 3px solid transparent;
  padding-top: 17.5px;
  padding-bottom: 14.5px;
  transition: all 0.25s;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;;
  border-bottom-color: #bdbdbd;
}

.navbar-default .navbar-nav > li > a.navbar-avatar {
  padding-top: 13px;
  padding-bottom: 10px;
}

.navbar-default .navbar-nav > li > a.navbar-avatar img {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.navbar-default .navbar-nav > li.active > a {
  border-bottom-color: #3f51b5;
  background-color: transparent;
  color: #262626;
}

/* Panels
/* ------------------------- */

.panel {
  border: solid 1px rgba(160, 160, 160, 0.3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.panel-heading {
  padding: 20px 30px;
}

.panel-heading + .panel-body {
  padding-top: 0;
}

.panel-body {
  padding: 30px;
}

.panel-body h3 {
  margin-top: 0;
}

.panel-title {
  font-size: 18px;
  color: #424242;
}

/* Buttons
/* ------------------------- */

.btn-toolbar > .btn {
  float: none;
  margin-bottom: 5px;
}

.btn {
  font-weight: 600;
  border-radius: 3px;
}

.btn:focus {
  outline: 0 !important;
}

.btn-default {
  border-color: #ccc;
  background: #f5f5f5 linear-gradient(to bottom, #fff, #f5f5f5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), inset 0 -1px 4px rgba(151, 159, 175, 0.2);
}

.btn-default:active {
  background: #e6e6e6 linear-gradient(to bottom, #f0f0f0, #e6e6e6);
}

.btn-success {
  border-color: #208a46;
  background: #29b35b linear-gradient(to bottom, #2ec866, #29b35b);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(32, 138, 70, 0.3);
}

.btn-success:active {
  background: #239a4e linear-gradient(to bottom, #28af59, #239a4e);
}

.btn-danger {
  border-color: #8c1512;
  background: #b61b17 linear-gradient(to bottom, #cc1e1a, #b61b17);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(140, 21, 18, 0.3);
}

.btn-danger:active {
  background: #9b1714 linear-gradient(to bottom, #b11a17, #9b1714);
}

.btn-facebook {
  color: #fff;
  border-color: #335190;
  background: #3b5998 linear-gradient(to bottom, #4263a9, #3b5998);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(59, 89, 152, 0.3);
}

.btn-facebook:hover,
.btn-facebook:focus {
  color: #fff;
}

.btn-twitter {
  color: #fff;
  border-color: #009fdb;
  background: #00aced linear-gradient(to bottom, #05baff, #00aced);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(0, 172, 237, 0.3);
}

.btn-twitter:hover,
.btn-twitter:focus {
  color: #fff;
}

.btn-google {
  color: #fff;
  border-color: #d54331;
  background: #dd4b39 linear-gradient(to bottom, #e05d4d, #dd4b39);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(221, 75, 57, 0.3);
}

.btn-google:hover,
.btn-google:focus {
  color: #fff;
}

.btn-vk {
  color: #fff;
  border-color: #4f7192;
  background: #587ea3 linear-gradient(to bottom, #678aad, #587ea3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(79, 113, 146, 0.3);
}

.btn-vk:hover,
.btn-vk:focus {
  color: #fff;
}

.btn-github {
  color: #fff;
  border-color: #444;
  background: #545454 linear-gradient(to bottom, #616161, #545454);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 4px rgba(68, 68, 68, 0.3);
}

.btn-github:hover,
.btn-github:focus {
  color: #fff;
}

/* Forms */
/* ------------------------- */

textarea {
  resize: none;
}

.form-control {
  height: auto;
  padding: 8px 12px;
  border: 2px solid #ebebeb;
  border-radius: 0;
  box-shadow: inset 0 1px 2px rgba(150, 160, 175, 0.1), inset 0 1px 15px rgba(150, 160, 175, 0.05);
}

.form-group > label {
  text-transform: uppercase;
  font-size: 13px;
}

.hr-title {
  height: auto;
  margin-top: 20px;
  border-top: 1px solid;
  color: #bbb;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
}

.hr-title span {
  position: relative;
  padding: 2px 10px;
  top: -10px;
  background-color: #fff;
  border-radius: 2px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}



.navbar {
    position: relative !important;
}
.brand {
    position: absolute;
    color: #34495e;
    /*left: 50%;*/
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    height: 50px;
    padding: 15px 15px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
}

.home-logo {
  padding-top: 5px;
  left: 50%;
  position: absolute;
  width: 96px;
  margin-left: -50px !important;  /* 50% of your logo width */
}

.home-logo > img {
  display: block;
  margin-bottom: 6px;
  width: 100%;
}

.main-container{
  box-sizing: border-box;
    margin: 0 auto;
    max-width: 1280px;
    min-width: 310px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

.filter-container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 36px 36px 30px 36px;
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.08);
  width: 100%;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  margin-top: 120px;
  margin-bottom: 30px;
}

.filter-container .filter-content {
    position: relative;
    min-height: 250px;
    height: 100%;
}

.filter-container .GiftGuideTag {
  border-radius: 22px;
    border: 1px solid #1abc9c;
    padding: 4px 20px 7px 20px;
    margin: 5px;
    font-size: 22px;
    color: #1abc9c;
    outline: none;
    -webkit-transition: color 200ms, background-color 200ms;
    transition: color 200ms, background-color 200ms;
    background-color: transparent;
}

button.GiftGuideTag:hover{
  background: #1abc9c;
  color: white;
}

.filter-container .title {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAoCAYAAACIC2hQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA3BpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw%2FeHBhY2tldCBiZWdpbj0i77u%2FIiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8%2BIDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpiNmI1YTViZC00ZGFlLTQzNjgtOTA4YS02YTY4ZTEyNzU2MmMiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NjE4QURCMzk4NEMxMTFFNTg3MTM5MEM5QTk4OENEQjciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NjE4QURCMzg4NEMxMTFFNTg3MTM5MEM5QTk4OENEQjciIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKE1hY2ludG9zaCkiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpGM0U5REJBOTgzM0QxMUU1QjZFQkQxN0ZGQkMzNjM3NCIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGM0U5REJBQTgzM0QxMUU1QjZFQkQxN0ZGQkMzNjM3NCIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI%2FPv9f%2B%2BMAAAGoSURBVHja7JY5T8NAEIXjcFVRQk3L0aBwSARKF4gGmkAKIBUNxy9A8AOo6CiAHhQaqEjFYZfcEpAqoaWGFqLIvJWeJWsFxkbrwnhH%2BjTR%2BHn8MvJ617AsKxUyOsEqWACDoAnq4Ajsgg%2FqusAamAf9oAPUQAXsgU8hMk0z0EPbQ5rsAadgWKqPkyUwzVoV5CXdBBG6GfAa9MHpkJN0TTbAHMiCblACLzR2Ql2etRI1Wd7TYI8qp658oit8QJ3Te%2FdcOwYX4BaMsSZMFsCbRyf%2BxCW4AkNgGeyonugi84Zk0g1RK4MWKUsmvbpNqafSiY4yn%2FtobsA2cPj7pzhjHonCaNBoBdA4zM0oFtMD86SPRryT66Tgo5tirkVhtMK8BXLfXBer%2BgC0kUPW5Mixh7enUqP74BEM8P2bBRmaKYI70AfuwTPoZa1ITYb3XLPHE3sGCgM7k5OKQaRTMQnvqjcU9XTC9Pttr7dt24nVRLVRbVQbTfJ3VPUOFagfvpP%2Fb6LGX3aUqHcmd0fCdUMvJm1UG9VGtVFtVBvVRrXRRJzwVZ%2F0k3nC%2FxJgAD%2F5XOrmpajRAAAAAElFTkSuQmCC);
    background-size: 21px 20px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    color: #bfbfbf;
    font-size: 18px;
}

.filter-container .statement {
    color: #525252;
    max-width: 620px;
    min-height: 95px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.filter-tag-container {
  max-width: 680px;
  margin: auto;
  padding-bottom: 35px;
}

.filter-tag-container .filter-tag {
    text-align: center;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    border: 4px solid transparent;
}

.filter-tag-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
}

.surprise-me {
  width: 300px;
  position: absolute;
  margin-left: -150px !important;  /* 50% of your logo width */
  left: 50%;
}

.main-container .recommendation-container {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 6px;
  text-align: center;
  padding: 36px 36px 30px 36px;
  box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.08);
  width: 100%;
  -webkit-transition: opacity 100ms;
  transition: opacity 100ms;
  margin-bottom: 100px;
  height: 1100px;
}


.recommendation-container .recommendation-content {
  box-sizing: border-box;
  border-radius: 50%;
  border-color: lightseagreen;
  min-height: 350px;
}

#loader {
    position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
#loader:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.scroller-button-left {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxnPgogICAgICA8cGF0aCBkPSJtNjQuNSwxMjIuNmMzMiwwIDU4LjEtMjYgNTguMS01OC4xcy0yNi01OC01OC4xLTU4LTU4LDI2LTU4LDU4IDI2LDU4LjEgNTgsNTguMXptMC0xMDhjMjcuNSw1LjMyOTA3ZS0xNSA0OS45LDIyLjQgNDkuOSw0OS45cy0yMi40LDQ5LjktNDkuOSw0OS45LTQ5LjktMjIuNC00OS45LTQ5LjkgMjIuNC00OS45IDQ5LjktNDkuOXoiIGZpbGw9IiMwMDAwMDAiLz4KICAgICAgPHBhdGggZD0ibTcwLDkzLjVjMC44LDAuOCAxLjgsMS4yIDIuOSwxLjIgMSwwIDIuMS0wLjQgMi45LTEuMiAxLjYtMS42IDEuNi00LjIgMC01LjhsLTIzLjUtMjMuNSAyMy41LTIzLjVjMS42LTEuNiAxLjYtNC4yIDAtNS44cy00LjItMS42LTUuOCwwbC0yNi40LDI2LjRjLTAuOCwwLjgtMS4yLDEuOC0xLjIsMi45czAuNCwyLjEgMS4yLDIuOWwyNi40LDI2LjR6IiBmaWxsPSIjMDAwMDAwIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K);
  background-size: 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  outline: none;
  font-size: 50px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
  position: absolute;
  left: 3px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.08;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  -webkit-backface-visibility: hidden;
  margin-left: 13px;
}

.scroller-button-right {
  background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4Ij4KICA8Zz4KICAgIDxnPgogICAgICA8cGF0aCBkPSJNNjQuNSwxMjIuNmMzMiwwLDU4LjEtMjYsNTguMS01OC4xUzk2LjUsNi40LDY0LjUsNi40UzYuNCwzMi41LDYuNCw2NC41UzMyLjUsMTIyLjYsNjQuNSwxMjIuNnogTTY0LjUsMTQuNiAgICBjMjcuNSwwLDQ5LjksMjIuNCw0OS45LDQ5LjlTOTIsMTE0LjQsNjQuNSwxMTQuNFMxNC42LDkyLDE0LjYsNjQuNVMzNywxNC42LDY0LjUsMTQuNnoiIGZpbGw9IiMwMDAwMDAiLz4KICAgICAgPHBhdGggZD0ibTUxLjEsOTMuNWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDI2LjQtMjYuNGMwLjgtMC44IDEuMi0xLjggMS4yLTIuOSAwLTEuMS0wLjQtMi4xLTEuMi0yLjlsLTI2LjQtMjYuNGMtMS42LTEuNi00LjItMS42LTUuOCwwLTEuNiwxLjYtMS42LDQuMiAwLDUuOGwyMy41LDIzLjUtMjMuNSwyMy41Yy0xLjYsMS42LTEuNiw0LjIgMCw1Ljh6IiBmaWxsPSIjMDAwMDAwIi8+CiAgICA8L2c+CiAgPC9nPgo8L3N2Zz4K);
  background-size: 78px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  outline: none;
  font-size: 50px;
  width: 78px;
  height: 78px;
  border-radius: 78px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0.08;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  -webkit-backface-visibility: hidden;
}